$color-gray: #373737;
$color-white: #ffffff;
$color-red: #c54c3a;
$color-light-red: lighten($site-red, 10);

// ---- COLOR THEMES -----

// MUTED TONES
$color-paper: #f4f4f4;
$color-silk: #DCD0C0;
$color-pale-gold: #C0B283;

// MUTED AND MINIMAL
$color-lavender: #6D7993;
$color-dusty: #96858F;
$color-overcast: #9099A2;
$color-minimal-paper: #D5D5D5;

// WARM AND BOLD
$color-black: #000000;
$color-blue-ink: #062F4F;
$color-posy: #813772;
$color-embers: #882601;

// MODERN
$color-screen: #C5C1C0;
$color-steel: #0A1612;
$color-denim: #1A2930;
$color-marigold: #F7CE3E;
